.info {
    display: flex;        
}

.info img {    
    margin-left: 5px;
}

.info h4 {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-left: 15px;       
}

.descricao {
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 4px;
}

.descricao p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    padding: 10px 30px 15px 10px;
}

@media(min-width: 1200px) {

    .info {
        flex-direction: row;      
        align-items: center;
    }

    .info img {    
        margin-left: 15px;        
        margin-right: 12px;
        padding-bottom: 8px;
    }  

    .descricao {
        margin-top: 0;
        margin-left: 12px;
        margin-right: 18px;        
    }

    .descricao p {        
        padding: 20px 12px 6px 22px;
    }
}