.main-nav a {
    text-decoration: none;
}

.main-nav a:hover {
    color: #000;
}

.nav-logo-text {
    color: #000;
}

.nav-logo-text h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.015em;
    margin-left: 20px;
    margin-top: 5px;
}

.main-nav button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #000000;
    mix-blend-mode: normal;
    padding: 4px 30px;
    margin-right: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    background: #FFC700;
}

@media(min-width: 576px) {
    .main-nav button {
        margin-right: 20px;
    }
}

@media(min-width: 768px) {
    .main-nav button {
        margin-right: 40px;
    }
}

@media(min-width: 1200px) {
    .nav-logo-text h4 {
        margin-left: 25px; 
    }

    .main-nav button {
        margin-right: 42px;
    }
}

@media(min-width: 1400px) {
    .nav-logo-text h4 {
        margin-left: 135px; 
    }

    .main-nav button {
        margin-right: 145px;
    }
}